body{
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1{
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.5rem;
  color: #66BFBF;
  }

h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25rem;
  color: #66BFBF;
  font-weight: normal;
}

h3{
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

.Carpe-Diem{
  text-decoration: none;
}
.top-container{
    background-color: #FFF5E4;
    position: relative;
    padding-top: 180px;

}

.middle-container{
  margin: 100px 0;
}

.bottom-container{
  background-color: #FFF5E4;
  padding: 50px 0 20px;
}

p{
  line-height: 2;
}

hr{
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
}
a{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover{
  color: black;
}

.copyright{
  font-size: 0.75em;
}


.top-cloud{
  position: absolute;
  right: 350px;
  top: 150px;
}

.bottom-cloud{
  position: absolute;
  left: 350px;
  bottom: 300px;
}

.coding{
  width: 25%;
  float: left;
  margin-right: 30px;
}

.photography{
  width: 25%;
  float: right;
  margin-left: 30px;
}

.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  }

  .contact-desc{
    margin: 40px auto 60px;
  }

  .btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #a5b4bd;
  background-image: -webkit-linear-gradient(top, #a5b4bd, #9ba7b0);
  background-image: -moz-linear-gradient(top, #a5b4bd, #9ba7b0);
  background-image: -ms-linear-gradient(top, #a5b4bd, #9ba7b0);
  background-image: -o-linear-gradient(top, #a5b4bd, #9ba7b0);
  background-image: linear-gradient(to bottom, #a5b4bd, #9ba7b0);
  text-decoration: none;
}
